.edit-message-modal {
  display: none;
  position: absolute;
  top: 10;
  padding: 15px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 500px;
}

.modal-shown {
  display: flex;
  flex-direction: column;
}

.edit-message-input {
  width: 100%;
  height: 60px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.edit-message-buttons {
  margin-left: auto;
  margin-top: 10px;
}

.edit-message-close {
  margin-right: 10px;
  height: 30px;
  width: 60px;
  font-weight: 700;
  background: whitesmoke;
  color: #333;
  border-radius: 4px;
  border: 1px solid #333;
  cursor: pointer;
}

.edit-message-close:hover {
  background: rgb(202, 202, 202);
}

.edit-message-button {
  height: 30px;
  width: 60px;
  font-weight: 700;
  background: #333;
  color: white;
  border-radius: 4px;
  border-style: hidden;
  cursor: pointer;
}

.edit-message-button:hover {
  background: #222;
}
