.message {
  width: 70%;
  box-sizing: border-box;
  display: flex;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.message-user-avatar > img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.message-text-container {
  margin-left: 10px;
  width: 100%;
}

.message-header {
  display: flex;
  justify-content: space-between;
}

.message-user-name {
  font-weight: 600;
  color: #222;
}

.message-time {
  color: #555;
  font-weight: 400;
  font-size: 0.8em;
}

.message-like,
.message-liked {
  display: flex;
  justify-content: flex-end;
  color: #333;
  cursor: pointer;
}
