.own-message {
  margin-left: auto;
  width: 70%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.message-time,
.message-tools {
  margin-left: auto;
  color: #333;
}

.message-tools > span {
  margin-left: 5px;
  font-size: 0.8em;
  cursor: pointer;
}
